p{
    font-family: Roboto;
}
.title{
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;
    margin-bottom: 0px;   
}
.Stats{
    
    color: rgb(81, 81, 81);
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 0;
}
.text{
   
    font-size: 14px;
    color:rgb(81, 81, 81);
    margin-top: 15px;
}
.description{
    font-size: 14px;
    
    width: 300px;
    color:rgb(81, 81, 81);
    line-height: 20px;
    margin-bottom: 100px;
}

.apple{
    font-size: 16px;
    color: white;
    background-color: rgb(211, 83, 83);
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;


}
.shop{
    cursor: pointer;
}
.shop:hover{
    text-decoration: underline;
}

.logo{
    height: 40px;
}